body {
  background-color: #f5f2f5;
  font-family: "HKGrotesk-Medium", Helvetica, sans-serif;
  font-size: 22px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
  opacity: 0.57;
}

header {
  border-top: 4px solid black;
  padding: 44px 0 40px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

main {
  margin: 50px 0;
}

p {
  line-height: 30px;
  margin: 0 0 20px 0;
}

$icon-height: 24px;
$input-text-color: rgba($cinder, 0.5);
$input-border-color: $whiteSmoke;

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: black;
}

input:-webkit-autofill:focus {
  -webkit-text-fill-color: black;
}

input {
  appearance: none;
  background-color: transparent;
  border: 0;
  color: black;
  padding-bottom: 0;
  outline: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.header__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  padding: 0 50px;
}

.nav__link {
  font-family: "SuisseIntl-Regular", Helvetica, sans-serif;
  font-size: 28px;
  line-height: 34px;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.site-title {
  font-family: "SuisseIntl-Regular", Helvetica, sans-serif;
  font-size: 34px;
  line-height: 48px;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.site-title > a {
  text-decoration: none;
}

.intro {
  margin-bottom: 48px;
}

.intro__heading,
.intro__body {
  max-width: 648px;
}

.intro__heading {
  font-family: "RobotoMono-Regular", Helvetica, sans-serif;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 36px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

.intro__body {
  margin-bottom: 0;
}

.stations {
  font-family: "RobotoMono-Regular", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.stations__header,
.stations__list-row {
  border-bottom: 2px solid black;
}

.stations__header {
  width: 100%;
}

.stations__header span {
  opacity: 0.57;
}

.stations__row {
  width: 100%;
}

.stations__input::placeholder {
  color: black;
  opacity: 0.57;
}

.stations__cell {
  height: 56px;
  min-height: 56px;
  overflow: hidden;
  white-space: nowrap;
}

.stations__cell > form {
  height: 100%;
}

.stations__input {
  height: 100%;
  width: 100%;
}

.stations__cell-inner {
  padding-bottom: 17px;
  height: 73px;
  padding-top: 0;
  display: flex;
  overflow: scroll;
  align-items: center;
}

.stations__cell-inner > span {
  display: inline-block;
}

.about {
  max-width: 80%;
}

.about__body {
  margin-bottom: 96px;
}

.about__body p {
  font-size: 48px;
  line-height: 60px;
}

.about__body a {
  text-decoration: underline;
}

.about__credit {
  font-family: "RobotoMono-Regular", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 21px;
}
