{% extends "base.html" %}

{% block title %} | About{% endblock %}

{% block content %}
  <section class="about">
    <div class="about__body">
      <p>
        This is an experimental website which is developed using Django(2.0.3),
        🐍Python(3.7.0)🐍, Google Cloud Platform - App Engine, Cloud Storage, Cloud SQL.
        This website is ongoing project still so please drop me an email from
        <a href="mailto:sekkithub@gmail.com">here</a>
        if you have your favourite radio staion not on the list.
      </p>
    </div>
    <div class="about__credit">
      <span>Website by <a href="http://sekkithub.com" target="_blank">Masato Arai</a></span>
    </div>
  </section>
{% endblock %}
