{% extends "base.html" %}

{% block content %}
  <section class="intro">
    <h2 class="intro__heading">Meet local <span style="font-size: 80px;">📻</span> stations!!</h2>
    <p class="intro__body">
      Independent radio stations encourage their local community.<br />
      They are not alone. World’s internet radio marketplace is thriving.
      Enjoy and hope you discover your favourite staions, artists or simply just music.
    </p>
  </section>

  <section class="stations">
    <div class="stations__header">
      <div class="row stations__row">
        <div class="col-12 col-md-5 stations__cell">
          <form method="get">
            <input value="{{ request.GET.title }}" name="title" type="text" placeholder="Title <- Search" class="stations__input">
          </form>
        </div>
        <div class="col-12 col-md-4 stations__cell">
          <div class="stations__cell-inner">
            <span>City</span>
          </div>
        </div>
        <div class="col-12 col-md-3 stations__cell">
          <div class="stations__cell-inner">
            <span>Country</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <form method="get">
      <input value="{{ request.GET.city }}" name="city" type="text" placeholder="City">
    </form> -->
    {% if stations %}
      <ul>
        {% for station in stations.all %}
          <li class="stations__list-row">
            <div class="row stations__row">
              <div class="col-12 col-md-5 stations__cell">
                <div class="stations__cell-inner">
                  <a href="{{ station.link }}" target="_blank">{{ station.title }}</a>
                </div>
              </div>
              <div class="col-12 col-md-4 stations__cell">
                <div class="stations__cell-inner">
                  {% for city in station.city.all %}
                    <span>{{ city.title }}{% if not forloop.last %}, {% endif %}</span>
                  {% endfor %}
                </div>
              </div>
              <div class="col-12 col-md-3 stations__cell">
                <div class="stations__cell-inner">
                  {% for country in station.country.all %}
                    <span>{{ country.title }}{% if not forloop.last %}, {% endif %}</span>
                  {% endfor %}
                </div>
              </div>
            </div>

            <!-- <img src="{{ station.image.url }}" /> -->

          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
{% endblock %}
