{% extends "base.html" %}

{% block title %} | Submit{% endblock %}

{% block content %}
  <section>
    <div>
      <p>
        Submit a radio!!<br />
        We look at all submissions!
      </p>
    </div>
    <div>
      Form
    </div>
  </section>
{% endblock %}
