<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
  <title>r-a-d-i-o{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <style>
    @font-face {
      font-family: "RobotoMono-Regular";
      src: url('{% static 'fonts/RobotoMono-Regular.woff' %}') format("woff");
    }

    @font-face {
      font-family: "HKGrotesk-Medium";
      src: url('{% static 'fonts/HKGrotesk-Medium.woff' %}') format("woff");
    }

    @font-face {
      font-family: "SuisseIntl-Regular";
      src: url('{% static 'fonts/SuisseIntl-Regular.woff' %}') format("woff");
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <meta name="google-site-verification" content="3IQzGg-9JxGoB58BXc15CnzuljUNU1bZTSCGBUnEjRg" />
</head>
<body>
  {% include 'components/header.html' %}

  <main>
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>
</html>
