<header>
  <div class="wrapper header__wrapper">
    <h1 class="site-title">
      <a href="{% url 'home' %}">R-a-d-i-o</a>
    </h1>
    <nav>
      <!-- <a href="{% url 'submit' %}">Submit</a> -->
      <a href="{% url 'about' %}" class="nav__link">About</a>
    </nav>
  </div>
</header>
